<footer class="footer mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4 py-md-3 text-center order-2 order-md-1">
        <span 
          >&copy; Jonathan Rafael Yaputra 2022, All Rights Reserved</span
        >
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center order-1 order-md-2 py-2">
        <a href="https://www.linkedin.com/in/jonathan-rafael-yaputra-161542136/"><i style="font-size: 2rem; color: white" class="fa p-0">&#xf08c;</i></a>
      </div>
      <div class="col-md-4 order-3 order-md-3"></div>
    </div>
  </div>
</footer>
