<footer class="footer mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4 py-2 text-md-left text-center order-2 order-md-1">
        <span class="footer-span"
          >&copy; Jonathan Rafael Yaputra 2022, All Rights Reserved.</span
        >
      </div>
      <div class="col-md-4 d-flex align-items-center justify-content-center order-1 order-md-2 py-2">
        <a href="https://www.linkedin.com/in/jonathan-rafael-yaputra-161542136/"><i style="font-size: 2rem; color: white" class="fa p-0">&#xf08c;</i></a>
        <a href="mailto:yaputrarafael@gmail.com"><i class="fa fa-envelope-square p-0 mx-2" style="font-size:2rem; color:white"></i></a> 
        <a href="https://github.com/jon8068/"><i style="font-size:2rem; color:white" class="fa">&#xf09b;</i></a>
      </div>
      <div class="col-md-4 order-3 order-md-3"></div>
    </div>
  </div>
</footer>
