body{
    background-color: white;
}

nav{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-family: 'Mulish', sans-serif;
}

footer{
    background-color: navy;
    color: white;
}

.navbar-div, .main-body{
    max-width: 1007px;
}

.nav-span{
    font-weight: 700;
}

.homepage-class, .aboutmepage-class{
    display: flex;
}

.uni-header, #home-name{
    font-weight: 700;
}

.aboutme-paragraph{
    text-align: justify;
}

#homepage-btn{
    background-color: navy;
    color: white;
    font-family: 'Mulish', sans-serif;
}

#home-header{
    margin-top: 4rem;
    font-family: 'Spectral', serif;
    font-size: 8rem;
}

.aboutme-page, #home-name, #home-p-body{
    font-family: 'Mulish', sans-serif;
}

#home-p-body{
    font-size: 1.5rem;
}

#cover-img{
    width: 80%;
}