<% layout('templates/boilerplate') %>
<div class="aboutme-page my-5">
  <div class="row pt-5">
    <div class="col-md-6">
      <img
        src="https://res.cloudinary.com/dimjqrqmg/image/upload/v1662811257/Rafael_Profile_2_ci9okx.jpg"
        alt=""
        class="mw-100"
      />
    </div>
    <div class="col-md-6">
      <h1 class="py-2 text-center">About Me</h1>
      <p class="aboutme-paragraph">
        I am an aspiring software engineer, and I am currently in the process of
        exploring web development and learning how to build web applications. I
        love working with people to reach a common goal, and I am currently
        looking for opportunities to learn and grow as a web developer /
        software engineer.
      </p>

      <p class="aboutme-paragraph">
        I am interested in building web applications with JavaScript and is
        currently focused on learning React and Express. I also try to build
        simple projects to showcase my abilities and hone my skills as a
        developer
      </p>

      <p class="aboutme-paragraph">
        If you are looking for someone who is warm and approachable, a team
        player, is keen to learn new things and constantly strives towards
        excellence, please don't hesitate to connect with me via e-mail or
        LinkedIn. My socials are on the footer below.
      </p>

      <p class="aboutme-paragraph">
        P.S: I can make a very good opor ayam (Indonesian Chicken Curry) :). Ask
        me nicely and I might share the recipe!
      </p>
    </div>
  </div>
  <div class="row w-100 text-center">
    <h1 class="py-3">My Education</h1>
    <div class="col-md-6 d-flex justify-content-center py-3">
      <div class="card w-100">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/e/e9/Universitas_Multimedia_Nusantara.jpg"
          class="card-img-top"
          alt="..."
        />
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="uni-header">Universitas Multimedia Nusantara</span>
          </li>
          <li class="list-group-item">
            Bachelor of Computers (S.Kom) - 2017 - 2021
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center py-3">
      <div class="card w-100">
        <img
          src="https://international.istts.ac.id/storage/files/shares/Cover%20Foto%20Website/Swinburne%202.jpeg"
          class="card-img-top"
          alt="..."
        />
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="uni-header">Swinburne University of Technology</span>
          </li>
          <li class="list-group-item">
            Bachelor of Information and Communication Technology (B.ICT) - 2020
            - 2021
          </li>
          <li class="list-group-item">
            Part of Joint Degree program with Universitas Multimedia Nusantara
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center py-3">Work Experience</h1>
    <div class="row">
      <div class="col-md-4 py-2">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">Junior Web Developer</h5>
            <h6 class="card-subtitle mb-2 text-muted">Self-Employed (Jun 2022 - Present)</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-2">
        <div class="card w-100 h-100 ">
          <div class="card-body">
            <h5 class="card-title">Enterprise Security Officer</h5>
            <h6 class="card-subtitle mb-2 text-muted">Bank Central Asia (BCA) (May 2022 - Aug 2022)</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-2">
        <div class="card w-100 h-100 ">
          <div class="card-body">
            <h5 class="card-title">Project Manager</h5>
            <h6 class="card-subtitle mb-2 text-muted">We Teach Well (Jan 2021 - Jun 2021)</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-md-4 py-2">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">Mentor Leader</h5>
            <h6 class="card-subtitle mb-2 text-muted">Swinburne Peer Mentoring Group (Jan 2021 - May 2021)</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4  py-2">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">Academic Coach</h5>
            <h6 class="card-subtitle mb-2 text-muted">Course-Net Indonesia (Aug 2019 - Jan 2020)</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4 py-2">
        <div class="card w-100 h-100">
          <div class="card-body">
            <h5 class="card-title">Database Lab Assistant</h5>
            <h6 class="card-subtitle mb-2 text-muted">Universitas Multimedia Nusantara (Aug 2019 - Jan 2020)</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
