<% layout('templates/boilerplate') %>
<div class="container-fluid homepage-class">
  <div class="row">
    <div class="col-md-6">
      <h1 id="home-header">Hello!</h1>
      <h3 id="home-name">I'm Jonathan Rafael Yaputra</h3>
      <p id="home-p-body">An aspiring software engineer who is interested 
        in building scalable web apps and exploring new technologies. Feel free to check out 
        the rest of this website or download my resume! 
      </p>
      <a class="btn" id="homepage-btn" href="https://drive.google.com/file/d/17F-IWpjiiwmmcgrXpglrLabBrY1d0JwJ/view?usp=sharing" download="Jonathan Rafael Yaputra - CV">Download Resume</a>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <img
        src="https://res.cloudinary.com/dimjqrqmg/image/upload/v1662565495/RAFAEL_ID_ogbzir.jpg"
        alt=""
        id="cover-img"
      />
    </div>
  </div>
</div>
