<% layout('templates/boilerplate') %>
<div class="mt-5">
    <h1 class="py-3">My Projects</h1>
    <p>It's currently a work in progress! Will add things to this page once I make more projects.</p>
    <div class="row">
        
    </div>
</div>