<div class="modal fade" id="personalWebsite" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Personal Website</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>This is a personal website that I created to show a little bit about myself and what I can do</p>
          <p>I used Bootstrap to make the website responsive and EJS, because I can embed javascript into a HTML page, and divide the website so that it reduces code repetition. 
          </p>
          <p>Technologies Used: EJS, CSS, Bootstrap, Node.JS, Express.JS</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
